<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../styles/style.css" rel="stylesheet">
    <link href="../styles/article_card.css" rel="stylesheet">
    <title>Articles</title>
</head>
<body class="tcentered">
    <reusable-header></reusable-header>

    <main class="fmedium">
        <div class="card-grid">
            <!-- Article cards will be inserted here -->
        </div>
    </main>

    <footer class="fsmall">
        Have fun with the background color!
        <div>
            <button id="random">Random</button>
        </div>
    </footer>

    <reusable-footer></reusable-footer>


    
</body>

<script src="../components/header.js"></script>
<script src="../components/footer.js"></script>

<!-- These have to be after the tags have been defined! -->
<script src="../scripts/random_background.js"></script>
<script src="../components/article_card.js"></script>

<script>
    const grid = document.querySelector(".card-grid");
    for (let i = 1; i <= 20; i++) {
        grid.innerHTML += articleCard(
            `https://picsum.photos/seed/${Math.random()}/300/200`,
            `Placeholder image ${i}`,
            `Sample Article ${i}`,
            `This is sample article card number ${i}.`,
            "#",
            "Read More"
        );
    }
</script>

</html>