.card-grid {
    display: flex;
    gap: 15px;
    /* margin: 15px; */
    padding: 0 50px; /* Reasonable padding */
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
}

.card-column {
    display: flex;
    flex-direction: column;
}

.article-card {
    display: block;
    width: 18rem;
    height: auto;
    margin-bottom: 15px;
    border: 1px solid black;
    background-color: white;
    padding-bottom: 15px;
    overflow: hidden;
}

.article-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}


.article-card p {
    font-size: 20px;
    margin: 10px;
}


#card-grid {
    background: green;
}

